.footer__copyright {
    font-size: 18px;
    line-height: 1.2;

    color: #545454;
}


@media (max-width: 780px) {
    .footer__copyright {
        margin-left: 20px;

        font-size: 14px;
    }
}