.button--like {
    width: 22px;
    height: 19px;

    background-image: url(../../../images/like-icon.svg);
    background-color: #fff;

    border: none;
}

.button--like:active {
    background-image: url(../../../images/like-icon--active.svg);
}