.button--like {
    width: 25px;
    height: 19px;
    padding-right: 10px;

    background: url(../../../images/like-icon.svg) no-repeat;

    border: none;
}

.button--like:active {
    background-image: url(../../../images/like-icon--active.svg);
}