.profile__job {
    max-width: 350px;

    margin: 0;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-size: 18px;
    line-height: 1.2;
}

@media (max-width: 780px) {
    .profile__job {
        font-size: 14px;
        line-height: 1.2;
    }
}